h2{
    font-size: 1.2rem;
    margin-left: 15px;
}

.bienvenida__mensaje{
    text-align: center;
}

.contenedor__cursos__inscritos{
    display: flex;
    flex-flow: row wrap;
}

.contenedor__cursos__disponibles{
    display: flex;
    flex-flow: row wrap;
}

@media (max-width: 480px){
    
}
