.dashboard {
    display: grid;
    grid-template-columns: 280px 1fr;
    min-height: 100vh;
}

/* Sidebar Styles */
.main-content {
    padding: 32px;
}

.welcome-section {
    /* background: linear-gradient(135deg, var(--primary-light) 10%,  10%); */
    background: linear-gradient(200deg, var(--primary-light), var(--background));
    padding-top: 10px;
    padding-left: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border-left: 5px solid var(--primary);
}

.welcome-continue{
    color: var(--text-dark);
}

.subtitle {
    color: var(--text-dark);
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.welcome-misCursos{
    padding-left: 10px;
    border-left: 4px solid var(--primary);
}


.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
    margin-bottom: 32px;
}

.availableCourses{
    color: var(--accent);
    font-size: 1.5rem;
    font-weight: 800;
}

.barra-mobile{
    display: none;
}

@media (max-width: 576px) {
    .barra-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 16px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .barra-mobile-button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .icon-mobile {
        font-size: 28px;
        color: #333;
    }

    .page-title-mobile {
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--accent);
        margin: 0;
        flex-grow: 1;
        text-align: center;
    }

    .logo {
        width: 36px;
        height: 36px;
        object-fit: contain;
    }

    .main-content{
        padding: 0;
        width: 100%;
    }
}