.barra-lateral {
    background: var(--background);
    box-shadow: var(--shadow);
    padding: 24px 16px;
}

.contenedor-logo{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    padding-left: 8px;
}

.logo {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    color: var(--accent);
}

.titulo-curso {
    font-size: 20px;
    font-weight: 500;
    color: var(--accent);
}

.tarjeta-usuario {
    display: flex;
    align-items: center;
    padding: 12px;
    background: var(--primary-light);
    border-radius: 8px;
    margin-bottom: 24px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-right: 12px;
}

.info-usuario h4 {
    font-size: 14px;
    margin-bottom: 4px;
    color: var(--text-dark);
}

.seccion-menu {
    margin-bottom: 24px;
}

.titulo-seccion{
    font-size: 1rem;
    color: var(--text-dark);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
    padding-left: 8px;
}

.btnDashboard {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 10px;
    border-radius: 8px;
    border: none;
    background: var(--primary);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 4px;
    color: var(--text-dark);
}

.btnDashboard:hover {
    background: var(--primary);
    color: var(--text-dark);
}

.icon {
    font-size: 20px;
    margin-right: 16px;
    color: var(--text-dark);
}
/* 
.btn-primary {
    background: var(--primary);
    color: var(--white);
}

.btn-primary:hover {
    background: #1765CC;
    box-shadow: var(--shadow-hover);
} */