/* Sidebar Styles */
.sidebar {
    background: var(--background);
    box-shadow: var(--shadow);
    padding: 24px 16px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 8px;
}

.logo {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    color: var(--accent);
}

.page-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--accent);
}

.user-card {
    display: flex;
    align-items: center;
    padding: 12px;
    background: var(--primary-light);
    border-radius: 8px;
    margin-bottom: 24px;
}

.avatarHome {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-right: 12px;
}

.user-info h4 {
    font-size: 1.1rem;
    margin-bottom: 4px;
    color: var(--text-dark);
}

.badge{
    color: var(--text-dark);
}

.menu-section {
    margin-bottom: 24px;
}

.section-title {
    font-size: 1rem;
    color: var(--text-dark);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
    padding-left: 8px;
}

.btnLateral {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 10px;
    border-radius: 8px;
    border: none;
    border-radius: 20px;
    background: var(--primary);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 4px;
    color: var(--text-dark);
}

.btnLateral:hover {
    background: var(--primary);
    color: var(--text-dark);
}

.icon {
    font-size: 20px;
    margin-right: 16px;
    color: var(--text-dark);
}

.lateralCursoTitle{
    
}

