.encabezado{
    background-color: #30107A;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
}


.btn_cerrarsesion{
    background-color:#F3DFBF ;
    border: none;
    max-width: 200px;
    height: 55px;
    color: #07004D;
    font-size: 1.7em;
    background-color: #F3DFBF;
    border: 1px solid #111;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    
    
}
.btn_cerrarsesion:hover{
    background-color: #07004D;
    color: #F3DFBF;
}

.encabezado__nombrepagina{
    color: white;
    font-size: 1.5em;
}



.encabezado__usuario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 200px;
    height: 55px;
    color: white;
    font-size: 1.7em;

}
