
  .language-switcher button {
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--secondary);
    color: var(--text-dark);
  }

  .language-switcher button.active {
    background: var(--primary);
    color: var(--text-dark);
  }

  .language-switcher button:hover {
    transform: scale(1.05);
  } 
  