.progress-section {
    background: var(--white);
    border-radius: 12px;
    box-shadow: var(--shadow);
    padding: 24px;
    margin-bottom: 24px;
}

.progress-section h2{
    color: var(--accent);
    font-size: 1.5rem;
    font-weight: 700;
}

.progress-stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 16px;
}

.stat-card {
    background: var(--primary-light);
    border-radius: 8px;
    padding: 16px;
}

.stat-valueHome {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 4px;
}

.stat-labelHome {
    font-size: 1rem;
    color: var(--text-dark);
}

.progress-listHome {
    margin-top: 24px;
    color: var(--text-dark);
}

.progress-itemHome {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #F1F3F4;
}


.progress-itemHome .material-icons {
    color: var(--secondary);
    margin-right: 12px;
}

.progress-textHome {
    font-size:1.1rem;
    flex: 1;
}