.course-card {
    background: var(--white);
    border-radius: 12px;
    padding: 24px;
    box-shadow: var(--shadow);
    transition: all 0.2s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.course-card:hover {
    box-shadow: var(--shadow-hover);
    transform: translateY(-2px);
}

.course-header {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.course-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-dark);
    margin-bottom: 4px;
}

.course-author {
    font-size: 14px;
    color: var(--gray-medium);
    margin-bottom: 12px;
}

/* .course-meta {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--gray-medium);
    margin-bottom: 16px;
}

.course-meta .material-icons {
    font-size: 16px;
    margin-right: 4px;
} */

.btn-continue {
    background: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    display: inline-flex;
    align-items: center;
}

.btn-continue:hover {
    background: #1765CC;
    box-shadow: var(--shadow-hover);
}

.btn-continue .material-icons {
    font-size: 18px;
    margin-left: 4px;
}
