@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap');


:root {

  --font-headings: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  
  --fs-heading-lg: clamp(1.8rem, 3vw, 2.5rem);
  --fs-heading-md: clamp(1.5rem, 2.5vw, 1.8rem);
  --fs-heading-sm: clamp(1.2rem, 2vw, 1.5rem);
  --fs-body: clamp(0.95rem, 1.5vw, 1.1rem);
  --fs-small: clamp(0.8rem, 1.2vw, 0.95rem);

  /* Coral Encendido - Un rojo-coral vibrante y cálido */
  --primary: #FF6B6B;
  /* Coral Pálido - Versión muy suave del color primario */
  --primary-light: #FFECEC;
  /* Turquesa Menta - Un turquesa fresco y vibrante */
  /* --secondary: #4ECDC4; */
  --secondary: #27AE60;
  /* Azul Pizarra - Un azul grisáceo oscuro y sofisticado */
  --accent: #556270;
  /* Blanco Humo - Un blanco casi puro con un toque de gris */
  --background: #F9F9F9;
  /* Negro Carbón - Un negro suavizado para texto principal */
  --text-dark: #111111;
  /* Gris Medio - Un gris neutro para texto secundario */
  --text-light: #6F6F6F;
  /* Blanco Puro */
  --white: #FFFFFF;
  --shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
  --shadow-hover: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F9FA;
  color: #202124;
}

html, body {
  font-family: var(--font-body);
  font-size: 16px; 
  line-height: 1.5;
  color: var(--gray-dark, #333);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: var(--font-headings);
  line-height: 1.2;
  letter-spacing: -0.01em;
}

body, p, button, input {
  font-family: var(--font-body);
  line-height: 1.5;
} 